:root {
  --brand-color: #4d5ae5;
  --main-color: #434455;
  --hover-color: #404bbf;
  --headings-color: #2e2f42;
  --background-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}
.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}

.span-header {
  color: var(--headings-color);
}
.span-footer {
  color: #f4f4fd;
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list {
  list-style: none;
}
.header-menu-link:hover,
.header-menu-link:focus,
.header-address-link:focus {
  color: #9747ff;
}
.header-address-link:hover,
.header-address-link:active {
  color: #404bbf;
}
.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: ver(--main-color);
}
/*---------hero--------*/
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-size: 56px;
  line-height: 60px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.hero-button {
  font-family: inherit;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
}
.hero-button:hover {
  background-color: #404bbf;
}

.descrip-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-color);
}
.descrip-list-descrip {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.team {
  background-color: #f4f4fd;
}
.team-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-item-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
}
.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.filters-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}
.filters-button:hover,
.filters-button:focus {
  color: #ffffff;
  background: #404bbf;
}
.product-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.product-item-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
